.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.50);
    height: 50vh;
    /* padding: 20px; */
    color: white;
    width: 35vh;
}
.myprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}


/* setting hover effect */
.settings:hover{
    cursor: pointer;
    color: rgb(48, 4, 70);
    font-size: larger;
    font-weight: bold;
}
.logout :hover{
    cursor: pointer;
    color: rgb(250, 75, 75);
    font-size: larger;
    font-weight: bold;
}
.myprofile :hover{
    cursor: pointer;
    color: rgb(48, 4, 70);
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}
