.home{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 93px);
    overflow-y: scroll;
    font-family: inherit;
    padding-top: 20px;
}
.home::-webkit-scrollbar{
    display: none;
}