.home{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
}
.home::-webkit-scrollbar{
    display: none;
}