.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  position:sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 2px 4px #ccc;
}
.nav_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.nav_left b{
    font-size:50px;
    cursor: pointer;
}
.lefticons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}
.search input {
  border: none;
  width: 500px;
  outline: none;
}

.nav_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.pic img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
