.comments{
    position: absolute;
top: 0;
right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    gap: 5px;
    height: max-content;
    width: max-content;
    background-color: #556dea;
    cursor: pointer;

}
.commentsfoot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.commentsfoot span{
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-family: inherit;
}
.commentsfoot input{
    border: none;
    background-color: rgb(77, 210, 228);
    color: rgb(18, 1, 1);
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
    
}
.comm{
    display: flex;
    gap: 10px;
}