*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100%;
    height:
    100vh;
    background-color: #4381a3;
}
.body{
    display: flex;
    flex-direction: row;
    background:#4381a3;
    height: 100%;
    width: 100%;
}